# Задачи
1) Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные. 

2) Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.

3) Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.

4) На сколько ночей в среднем бронируют отели разных типов?

5) Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

6) Проанализируйте даты запланированного прибытия. 
– На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?
– Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов

7) Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?

8) Создайте колонку total_kids, объединив children и babies. Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?

9) Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.

## Описание данных
* Hotel – тип отеля (City Hotel или Resort Hotel)  
* Is canceled – бронирование было отменено (1) или нет (0); не отмененное считается успешным
* Lead time – количество дней, прошедших между датой бронирования и датой прибытия  
* Arrival full date – полная дата прибытия
* Arrival date year – год прибытия  
* Arrival date month – месяц прибытия  
* Arrival date week number – номер недели прибытия
* Arrival date day of month – день прибытия
* Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
* Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
* Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)
* Adults – число взрослых
* Children – число детей
* Babies – число младенцев 
* Meal – выбранный тип питания
* Country – страна происхождения клиента
* Reserved room type – тип зарезервированного номера
* Assigned room type – тип полученного номера (может отличаться от забронированного)
* Customer type – тип бронирования
* Reservation status – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину
* Reservation status date – дата обновления статуса

In [1]:
import pandas as pd

In [2]:
url = 'https://stepik.org/media/attachments/lesson/360344/bookings.csv'
df = pd.read_csv(url, sep=';')
df.shape

(119390, 21)

In [3]:
df.dtypes.value_counts()

object     10
int64      10
float64     1
dtype: int64

In [4]:
df.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [5]:
# 2. Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.
df.columns = [col.lower().replace(' ', '_') for col in df.columns]
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [10]:
# 3. Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.
pivot_table_by_country_is_canceled = pd.pivot_table(df, index='country', columns='is_canceled', 
                             values='lead_time', aggfunc='count', fill_value=0) \
                                 .sort_values(by=0, ascending=False)

pivot_table_by_country_is_canceled.head()

is_canceled      0      1
country
PRT          21071  27519
GBR           9676   2453
FRA           8481   1934
ESP           6391   2177
DEU           6069   1218

In [41]:
# 4. На сколько ночей в среднем бронируют отели разных типов?
mean_count_nights_by_hotel_type = df.groupby('hotel')['stays_total_nights'] \
    .mean().round(2)

mean_count_nights_by_hotel_type

hotel
City Hotel      2.98
Resort Hotel    4.32
Name: stays_total_nights, dtype: float64

In [46]:
# 5. Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

count_overbooking = (df.assigned_room_type != df.reserved_room_type).sum()
count_overbooking

14917

In [109]:
# 6. Проанализируйте даты запланированного прибытия. – На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017? – Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов

def get_top_month(year):
    return df.query('is_canceled == 0') \
        .groupby('arrival_date_year')['arrival_date_month'].value_counts()[year].idxmax()

get_top_month(2016), get_top_month(2017)

('October', 'May')

In [111]:
def get_worse_month(year):
    return df.query('is_canceled == 1 & hotel == "City Hotel"') \
        .groupby('arrival_date_year')['arrival_date_month'].value_counts()[year].idxmax()

get_worse_month(2015), get_worse_month(2016), get_worse_month(2017)

('September', 'October', 'May')

In [120]:
# 7. Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?

df[['adults', 'children', 'babies']].mean().idxmax()

'adults'

In [15]:
# 8. Создайте колонку total_kids, объединив children и babies. Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?

df['total_kids'] = df.children + df.babies
top_type_hotel_for_children = df.query('total_kids > 0')['hotel'].value_counts().idxmax()

top_type_hotel_for_children

'City Hotel'

In [16]:
df.groupby('hotel').total_kids.mean().round(2)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

In [20]:
# 9. Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.

df['has_kids'] = df['total_kids'] > 0

df.groupby('has_kids')['is_canceled'].apply(lambda x: round(sum(x) / df.shape[0] * 100, 2))

has_kids
False    34.31
True      2.73
Name: is_canceled, dtype: float64